@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

html {
    height: 100%;
}

.whatever {
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.4);
}

.test {
    flex-basis: 100%;
    height: 0;
}

.tester {
    max-width: 1130px;
    max-height: 665px;
}

.overlay {
    position: relative;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

#cover {
    z-index: 3;
}

.refresh {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 2;
    padding: 15px;
}

.refresh-icon {
    fill: #d1d5db;
}

.slider {
    transition: transform 0.5s ease-in-out;
}

.fast-slide {
    transition: transform 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}

.rotate {
    animation: rotate 0.5s linear infinite;
}

.no-rotate {
    animation-name: none !important;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.refresh-top {
    top: 52.5%;
    @media only screen and (min-width: 1280px) {
        top: 0;
    }
}

.min-w-vw {
    min-width: 100vw;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
